<p><strong>A. Kolchinsky</strong>, “Comment on ‘Dissipation bounds the
coherence of stochastic limit cycles’”, arXiv:2510.14101, 2025. <a
href="https://arxiv.org/abs/2510.14101">arxiv</a></p>
<p>J. Bauermann, G. Bartolucci, <strong>A. Kolchinsky</strong>,
“Spatiotemporal organization of chemical oscillators via phase
separation”, arXiv:2507.16030, 2025. <a
href="https://arxiv.org/abs/2507.16030">arxiv</a></p>
<p>M. Aguilera, S. Ito, <strong>A. Kolchinsky</strong>, “Inferring
entropy production in many-body systems using nonequilibrium MaxEnt”,
arXiv:2505.10444, 2025. <a
href="http://arxiv.org/abs/2505.10444">arxiv</a></p>
<p>J. Piñero, D. R. Sowinski, G. Ghoshal, A. Frank, <strong>A.
Kolchinsky</strong>, “Information bounds production in replicator
systems”, arXiv:2501.00396, 2024. <a
href="http://arxiv.org/abs/arXiv:2501.00396">arxiv</a>.</p>
<p><strong>A. Kolchinsky</strong>, A. Dechant, K. Yoshimura, S. Ito,
“Generalized free energy and excess entropy production for active
systems”, arXiv:2412.08432, 2024. <a
href="https://arxiv.org/abs/2412.08432">arxiv</a></p>
<p><strong>A. Kolchinsky</strong>, A. Dechant, K. Yoshimura, S. Ito,
“Information geometry of excess and housekeeping entropy production”,
arXiv:2206.14599, 2022. <a
href="https://arxiv.org/abs/2206.14599">arxiv</a></p>
<p>C. Gokler, <strong>A. Kolchinsky</strong>, Z. Liu, I. Marvian , P.
Shor, O. Shtanko, K. Thompson, D. Wolpert, S. Lloyd, “When is a bit
worth much more than <span
class="math inline"><em>k</em><em>T</em>ln 2</span>?”, arXiv:1705.09598,
2017. <a href="https://arxiv.org/abs/1705.09598">arxiv</a></p>
