<p>R. Nagayama, <strong>A. Kolchinsky</strong>, S. Ito,
“Oscillatory-nonnormal decomposition of dissipation in
Ornstein-Uhlenbeck processes”, <a
href="https://arxiv.org/abs/2606.07263">arXiv:2606.07263</a> (2026).</p>
<p>O. M. Miangolarra, R. Sabbagh, <strong>A. Kolchinsky</strong>,
“Wasserstein-2 gradient flows and the geometry of entropy production in
classical and quantum stochastic thermodynamics”, <a
href="https://arxiv.org/abs/2606.00698">arXiv:2606.00698</a> (2026).</p>
<p><strong>A. Kolchinsky</strong>, N. Ohga, S. Ito, “Cycle affinity and
winding localize eigenvalues of Markov generators”, <a
href="https://arxiv.org/abs/2605.15884">arXiv:2605.15884</a> (2026).</p>
<p>J. Korbel, <strong>A. Kolchinsky</strong>, S.A.M. Loos, G. Manzano,
R. Garcia-Millan, O. Movilla Miangolarra, É. Roldán, “Quo vadis,
stochastic thermodynamics?”, <a
href="https://arxiv.org/abs/2604.26601">arXiv:2604.26601</a> (2026).</p>
<p>L. Greenspan, D. Berman, A. Brill, R. Jefferson, <strong>A.
Kolchinsky</strong>, J. Lin, A. Mack, A. Maiti, F. E. Rosas, A.
Stapleton, L. Teixeira, D. Vaintrob, “Towards Worst-Case Guarantees with
Scale-Aware Interpretability”, <a
href="https://arxiv.org/abs/2602.05184">arXiv:2602.05184</a> (2026).</p>
<p><strong>A. Kolchinsky</strong>, “Comment on ‘Dissipation bounds the
coherence of stochastic limit cycles’”, <a
href="https://arxiv.org/abs/2510.14101">arXiv:2510.14101</a> (2025).</p>
<p><strong>A. Kolchinsky</strong><span
class="math inline"><sup>†</sup></span>, A. Dechant, K. Yoshimura, S.
Ito, “Information geometry of excess and housekeeping entropy
production”, <a
href="https://arxiv.org/abs/2206.14599">arXiv:2206.14599</a> (2022).</p>
<p>C. Gokler, <strong>A. Kolchinsky</strong>, Z. Liu, I. Marvian , P.
Shor, O. Shtanko, K. Thompson, D. Wolpert, S. Lloyd, “When is a bit
worth much more than <span
class="math inline"><em>k</em><em>T</em>ln 2</span>?”, <a
href="https://arxiv.org/abs/1705.09598">arXiv:1705.09598</a> (2017).</p>
