<p><strong>A. Kolchinsky</strong>, “Thermodynamics of Darwinian
evolution in molecular replicators”, <em>Philosophical Transactions of
the Royal Society B</em>, 2025.</p>
<p>K. R. Thomsen, <strong>A. Kolchinsky</strong>, S. Rasmussen,
“Protocellular energy transduction, information, and fitness”,
<em>Philosophical Transactions of the Royal Society B</em>, 2025.</p>
<p>S. Bartlett, A. W. Eckford, M. Egbert, M. Lingam, <strong>A.
Kolchinsky</strong>, A. Frank, G. Ghoshal, “The Physics of Life:
Exploring Information as a Distinctive Feature of Living Systems”,
<em>PRX Life</em>, 2025.</p>
<p>R. Nagayama, K. Yoshimura, <strong>A. Kolchinsky</strong>, S. Ito,
“Geometric thermodynamics of reaction-diffusion systems: Thermodynamic
trade-off relations and optimal transport for pattern formation”,
<em>Physical Review Research</em>, 2025.</p>
<p><strong>A. Kolchinsky</strong>, I. Marvian, C. Gokler, Z. Liu, P.
Shor, O. Shtanko, K. Thompson, D. Wolpert, S. Lloyd, “Maximizing free
energy gain”, <em>Entropy</em>, 2025.</p>
<p><strong>A. Kolchinsky</strong>, “Thermodynamic dissipation does not
bound replicator growth and decay rates”, <em>The Journal of Chemical
Physics</em>, 2024. <a
href="https://pubs.aip.org/collection/330788/2024-JCP-Emerging-Investigators-Special-Collection">(2024
JCP Emerging Investigators Special Collection)</a></p>
<p>R. Solé, C. P. Kempes, B. Corominas-Murtra, M. De Domenico,
<strong>A. Kolchinsky</strong>, M. Lachmann, E. Libby, S. Saavedra, E.,
D. Wolpert, “Fundamental constraints to the logic of living systems”,
<em>Royal Society Interface</em>, 2024.</p>
<p>P.M. Riechers, C. Gupta, <strong>A. Kolchinsky</strong>, M. Gu,
“Thermodynamically ideal quantum state inputs to any device”, <em>PRX
Quantum</em>, 2024.</p>
<p><strong>A. Kolchinsky</strong>, “Partial information decomposition:
redundancy as information bottleneck”, <em>Entropy</em>, 2024.</p>
<p>J. Piñero, R. Solé, <strong>A. Kolchinsky</strong>, “Optimization of
nonequilibrium free energy harvesting illustrated on bacteriorhodopsin”,
<em>Physical Review Research</em>, 2024.</p>
<p><strong>A. Kolchinsky</strong>, N. Ohga, S. Ito, “Thermodynamic bound
on spectral perturbations, with applications to oscillations and
relaxation dynamics”, <em>Physical Review Research</em>, 2024.</p>
<p>D.R. Sowinski, J. Carroll-Nellenback, R.N. Markwick, J. Piñero, M.
Gleiser, <strong>A. Kolchinsky</strong>, G. Ghoshal, A. Frank, “Semantic
Information in a model of resource gathering agents”, <em>PRX Life</em>,
2023.</p>
<p><strong>A. Kolchinsky</strong>, “Generalized Zurek’s bound on the
cost of an individual classical or quantum computation”, <em>Physical
Review E</em>, 2023.</p>
<p>M. Aguilera and <strong>A. Kolchinsky</strong>, “Quantifying
higher-order entropy production in organized nonequilibrium states”,
<em>Proceedings of the ALIFE 2023</em>, 2023.</p>
<p>N. Ohga, S. Ito, <strong>A. Kolchinsky</strong>, “Thermodynamic bound
on the asymmetry of cross-correlations”, <em>Physical Review
Letters</em>, 2023. (<em>Editors’ Suggestion</em>; <em>Featured in <a
href="https://physics.aps.org/articles/v16/142">Physics</a></em>)</p>
<p>K. Yoshimura, <strong>A. Kolchinsky</strong>, A. Dechant, S. Ito,
“Housekeeping and excess entropy production for general nonlinear
dynamics”, <em>Physical Review Research</em>, 2023.</p>
<p>F.C. Sheldon, <strong>A. Kolchinsky</strong>, F. Caravelli,
“Computational capacity of LRC, memristive, and hybrid reservoirs”,
<em>Physical Review E</em>, 2022.</p>
<p><strong>A. Kolchinsky</strong>, “A novel approach to the partial
information decomposition”, <em>Entropy</em>, 2022. <a
href="https://github.com/artemyk/redundancy">code</a></p>
<p><strong>A. Kolchinsky</strong> and D.H. Wolpert, “Dependence of
integrated, instantaneous, and fluctuating entropy production on the
initial state in quantum and classical processes”, <em>Physical Review
E</em>, 2021.</p>
<p><strong>A. Kolchinsky</strong> and D.H. Wolpert, “Work, entropy
production, and thermodynamics of information under protocol
constraints”, <em>Physical Review X</em>, 2021.</p>
<p><strong>A. Kolchinsky</strong> and D.H. Wolpert, “Entropy production
given constraints on the energy functions”, <em>Physical Review E</em>,
2021.</p>
<p><strong>A. Kolchinsky</strong> and D.H. Wolpert, “Thermodynamic costs
of Turing machines”, <em>Physical Review Research</em>, 2020.</p>
<p>D.H. Wolpert and <strong>A. Kolchinsky</strong>, “The thermodynamics
of computing with circuits”, <em>New Journal of Physics</em>, 2020.</p>
<p><strong>A. Kolchinsky</strong> and B. Corominas-Murtra, “Decomposing
information into copying versus transformation”, <em>Royal Society
Interface</em>, 2020.</p>
<p>A.M. Saxe, Y. Bansal, J. Dapello, M. Advani, <strong>A.
Kolchinsky</strong>, B.D. Tracey, D.D. Cox, “On the information
bottleneck theory of deep learning”, <em>Journal of Statistical
Mechanics</em>, 2019. <a
href="https://github.com/artemyk/ibsgd/tree/iclr2018">code</a></p>
<p><strong>A. Kolchinsky</strong>, B.D. Tracey, D.H. Wolpert, “Nonlinear
information bottleneck”, <em>Entropy</em>, 2019. (<a
href="https://www.mdpi.com/journal/entropy/awards/1209"><em>Entropy</em>
2021 Best Paper Award</a>)</p>
<p>A. Berdahl, C. Brelsford, C. De Bacco, M. Dumas, V. Ferdinand, J.A.
Grochow, L. Hébert-Dufresne, Y. Kallus, C.P. Kempes, <strong>A.
Kolchinsky</strong>, D. B. Larremore, E. Libby, E.A. Power, C.A. Stern,
B.D.Tracey, “Dynamics of beneficial epidemics”, <em>Scientific
Reports</em>, 2019.</p>
<p>E.A. Hobson, V. Ferdinand, <strong>A. Kolchinsky</strong>, J.
Garland, “Rethinking animal social complexity measures with the help of
complex systems concepts”, <em>Animal Behaviour</em>, 2019.</p>
<p><strong>A. Kolchinsky</strong>, B.D. Tracey, S. Van Kuyk, “Caveats
for information bottleneck in deterministic scenarios”, <em>ICLR</em>,
2019. <a href="https://github.com/artemyk/ibcurve">code</a></p>
<p>D.H. Wolpert, <strong>A. Kolchinsky</strong>, J.A. Owen, “A
space–time tradeoff for implementing a function with master equation
dynamics”, <em>Nature Communications</em>, 2019.</p>
<p>A. Avena-Koenigsberger, X. Yan, <strong>A. Kolchinsky</strong>, M.
van den Heuvel, P. Hagmann, O. Sporns, “A spectrum of routing strategies
for brain networks”, <em>PLoS Computational Biology</em>, 2019.</p>
<p>J.A. Owen, <strong>A. Kolchinsky</strong>, D.H. Wolpert, “Number of
hidden states needed to physically implement a given conditional
distribution”, <em>New Journal of Physics</em>, 2019. (<a
href="https://iopscience.iop.org/article/10.1088/1367-2630/ab60f8">correction</a>)</p>
<p><strong>A. Kolchinsky</strong> and D.H. Wolpert, “Semantic
information, autonomous agency, and nonequilibrium statistical physics”,
<em>Royal Society Interface Focus</em>, 2018. <a
href="https://github.com/artemyk/semantic_information/">code</a></p>
<p>A.M. Saxe, Y. Bansal, J. Dapello, M. Advani, <strong>A.
Kolchinsky</strong>, B.D. Tracey, D.D. Cox, “On the information
bottleneck theory of deep learning”, <em>ICLR</em>, 2018. <a
href="https://github.com/artemyk/ibsgd/tree/iclr2018">code</a></p>
<p><strong>A. Kolchinsky</strong>, N. Dhande, K. Park, Y.Y. Ahn, “The
Minor Fall, the Major Lift: Inferring emotional valence of musical
chords through lyrics”, <em>Royal Society Open Science</em>, 2017. <a
href="https://doi.org/10.6084/m9.figshare.5413060.v1.">data</a> <a
href="https://github.com/artemyk/chordsentiment">code</a></p>
<p><strong>A. Kolchinsky</strong>, D.H. Wolpert, “Dependence of
dissipation on the initial distribution over states”, <em>Journal of
Statistical Mechanics</em>, 2017.</p>
<p><strong>A. Kolchinsky</strong>, B.D. Tracey, “Estimating mixture
entropy with pairwise distances”, <em>Entropy</em>, 2017. (<a
href="https://www.mdpi.com/1099-4300/19/11/588">correction</a>) <a
href="https://github.com/btracey/mixent/">code</a></p>
<p><strong>A. Kolchinsky</strong>, A.J. Gates, L.M. Rocha, “Modularity
and the spread of perturbations in complex dynamical systems,”
<em>Physical Review E</em>, 2015. <a
href="https://github.com/artemyk/perturbationmodularity/">code</a></p>
<p><strong>A. Kolchinsky</strong>, A. Lourenço, H. Wu, L. Li, L.M.
Rocha, “Extraction of pharmacokinetic evidence of drug-drug interactions
from the literature,” <em>PLOS One</em>, 2015.</p>
<p><strong>A. Kolchinsky</strong>, M.P. van den Heuvel, A. Griffa, P.
Hagmann, L.M. Rocha, O. Sporns, J. Goñi, “Multi-scale integration and
predictability in resting state brain activity,” <em>Frontiers in
Neuroinformatics</em>, 2014.</p>
<p>A. Rossi, F.J. Parada, <strong>A. Kolchinsky</strong>, A. Puce,
“Neural correlates of apparent motion perception of impoverished facial
stimuli I: A comparison of ERP and ERSP activity,” <em>NeuroImage</em>,
2014.</p>
<p><strong>A. Kolchinsky</strong>, A. Lourenço, L. Li, L.M. Rocha,
“Evaluation of linear classifiers on articles containing pharmacokinetic
evidence of drug-drug interactions,” <em>Proc Pacific Symposium on
Biocomputing</em>, 2013.</p>
<p><strong>A. Kolchinsky</strong> and L.M. Rocha, “Prediction and
modularity in dynamical systems,” <em>Proc of European Conf. on the
Synthesis and Simulation of Living Systems (ECAL)</em>, 2011.</p>
<p><strong>A. Kolchinsky</strong>, A. Abi-Haidar, J. Kaur, A.A. Hamed,
L.M. Rocha, “Classification of protein-protein interaction full-text
documents using text and citation network features,” <em>IEEE/ACM
Transactions on Computational Biology and Bioinformatics</em>, 2010.</p>
